*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(/Projeto-Web/Projeto-Noticias-Cidade/imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}
#topo{
    height: 150px;
    background: url(/Projeto-Web/Projeto-Noticias-Cidade/imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(/Projeto-Web/Projeto-Notícias-Cidade/imagens/logo.png);
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
}
#topo ul li{
    float: left;
}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(/Projeto-Web/Projeto-Notícias-Cidade/imagens/divisor.png) no-repeat left center;
}
#topo ul .primeiro a{
    background: none;

}
#topo ul a:hover{
    background: #69001d;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos

{
    color: #fff;
    background: #de003e;

}

#conteudo{
    margin-top: 60px;
    background-color: #f5f5f5;
}

#primario{
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
}
#duas-colunas #primario{
    width: 555px;
    margin: 0 0 20px 195px;
    float: left;
}
#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0
    
}

#secundario{
    width: 270px;
    margin: 0 0 20px 15px;
    float: left;
}
#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}

.caixa{
    background: #f3f3f3;
    background: url(./imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
.caixa-conteudo a{
    color: #de003e;
}

h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(./imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
}
label{
    display: block;
    cursor: pointer;
    
}
input{
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px;
    width: 165px;
    margin-bottom: 5px;
}
input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    cursor: pointer;
}

img{
    border: 2px solid #dfdfdf;
}
h4{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #b10333;
    color: #fff;
}
.entrevista h4{
    background: #de003e;
    
}

.lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
.lista-noticias li a img{
    float: left;
    margin: 5px;
}
.lista-noticias li a{
    text-decoration: none;
}
.lista-noticias li a h3{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}
.lista-noticias li a p{
    text-decoration: none;
    font-size: 0.7em;
    color: #000;
}
.lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}



#rodape{
    background: #294c71;
    padding: 20px;
}
.rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}